<div class="bg">
    <div class="blur"></div>
    <div class="detail">
        <div class="detail__image">
            <img [src]="phim.HinhAnh">
        </div>

        <div class="detail__text">
            <div class="name">
                {{phim.TenPhim}}
            </div>
            <div class="mota">
                Mô tả: {{phim.MoTa}}
            </div>

        </div>
    </div>
    <div class="datve">
        <!-- <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Chọn rạp
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">CGV Cinema</a>
                <a class="dropdown-item" href="#">BHD Cinema</a>
                <a class="dropdown-item" href="#">Lotte Cinema</a>
                <a class="dropdown-item" href="#">Galaxy Cinema</a>
            </div>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Chọn giờ chiếu
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">08:30</a>
                <a class="dropdown-item" href="#">11:00</a>
                <a class="dropdown-item" href="#">13:30</a>
                <a class="dropdown-item" href="#">16:00</a>
                <a class="dropdown-item" href="#">18:30</a>
                <a class="dropdown-item" href="#">22:00</a>
            </div>
        </div>
        <a [routerLink]="[ '/danhsachghe' ]">
            <button class="btnDatVe btn-primary">Đặt vé</button>
        </a> -->
        <app-lich-chieu></app-lich-chieu>


    </div>
</div>


<!-- <div class="container">
    <app-lich-chieu></app-lich-chieu>
</div> -->





<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <img [src]="phim.HinhAnh" width="200" height="300" />
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <td colspan="2" align="left">{{phim.TenPhim}}</td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mô tả</td>
                        <td>{{phim.MoTa}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->