<!-- <div class="container">
  <h5>Danh sách phim</h5>
  <div class="row">
    <div class="col-4" *ngFor='let phim of dsPhim'>
      <app-phim [phim]='phim'></app-phim>
    </div>
  </div>
</div> -->
<app-header></app-header>
<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">
        <h3>Phim đang chiếu</h3>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">
        <h3>Phim sắp chiếu</h3>
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row">
        <div *ngFor="let phim of dsPhim | paginate: { itemsPerPage: 8, currentPage: p }">
          <app-phim [phim]='phim'></app-phim>
        </div>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row">
        <div *ngFor="let phimSC of dsPhimSC ">
          <app-phim-sap-chieu [phimSapChieu]='phimSC'></app-phim-sap-chieu>
        </div>
      </div>
    </div>
  </div>
</div>