<div class="wrapper fadeInDown modal" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div id="formContent" class="modal-content">
    <!-- Tabs Titles -->
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <!-- Icon -->
    <div class="fadeIn first">
        <div class="title">
            <h1>ĐĂNG NHẬP</h1>
        </div>
    </div>

    <!-- Login Form -->
    <form #frmDangNhap='ngForm' (ngSubmit)="DangNhap(frmDangNhap.value)">
      <input type="text" id="username" class="fadeIn second" name="TaiKhoan" placeholder="Tài khoản" required ngModel>
      <input type="password" id="password" class="fadeIn third" name="MatKhau" placeholder="Mật khẩu" required ngModel>
      <!-- <input type="submit" class="fadeIn fourth" value="Log In"> -->
      <button type="submit" class="btn btn-success">Đăng nhập</button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>