<footer>
  <div class="about part">
    <p class="text">Web Phim Sài Gòn</p>
    <ul>
      <li>Giới thiệu</li>
      <li>Tuyển dụng</li>
      <li>Ưu đãi</li>
      <li>Quảng cáo</li>
    </ul>
  </div>
  <div class="rules part">
    <p class="text">Điều khoản sử dụng</p>
    <ul >
      <li>Điều khoản chung</li>
      <li>Điều khoản giao dịch</li>
      <li>Chính sách bảo mật</li>
      <li>Chính sách giao dịch</li>
    </ul>
  </div>
  <div class="contact part">
    <p class="text">Liên hệ</p>
    <ul>
      <li><a target="_blank" href="https://www.facebook.com/buisinguyenn"><i class="fa fa-facebook-official">Bùi Sĩ Nguyên</i></a></li>
      <li> <a href=""><i class="fa fa-youtube">Bùi Sĩ Nguyên</i></a></li>
      <li><a href=""><i class="fa fa-instagram"> Bùi Sĩ Nguyên</i></a> </li>
    </ul>
  </div>
</footer>
