<div class="row">
  <div class="btn-group">
    <select class="form-control" name="" id="">
      <option>Chọn rạp</option>
      <option value="">CGV Cinema</option>
      <option value="">Galaxy Cinema</option>
      <option value="">Lotte Cinema</option>
    </select>
  </div>

  <div class="btn-group">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
  </div>

  <div class="btn-group">
    <select class="form-control" name="" id="">
      <option>Chọn giờ chiếu</option>
      <option value="">08:30</option>
      <option value="">11:00</option>
      <option value="">13:30</option>
      <option value="">16:00</option>
      <option value="">18:30</option>
      <option value="">22:00</option>
    </select>
  </div>
  <a [routerLink]="[ '/danhsachghe' ]">
    <button class="btnDatVe btn-primary">Đặt vé</button>
  </a>
</div>