button{
    margin: 5px;
}
.daDat{
    background-color: gray;
    color: white;
    cursor: not-allowed;
}
.chuaDat{
    background-color: black;
}
.dangChon{
    background-color: rgb(75, 75, 75);
    // color: pink;
}

.ghe{
    width: 45px;
    height: 45px;
    margin: 0;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

