button{
    margin: 5px;
}
.daDat{
    background-color: gray;
    color: white;
    cursor: not-allowed;
}
.chuaDat{
    background-color: lightblue;
}
.dangChon{
    background-color: green;
    color: pink;
}