<div class="datGhe">
  <div class="screen"></div>
  <div class="top">
    <div class="item">1</div>
    <div class="item">2</div>  
    <div class="item">3</div>
    <div class="item">4</div>
    <div class="item">5</div>
    <div class="item">6</div>
    <div class="item">7</div>
    <div class="item">8</div>
    <div class="item">9</div>
    <div class="item">10</div>
    <div class="item">11</div>
    <div class="item">12</div>
    <div class="item">13</div>
    <div class="item">14</div>
    <div class="item">15</div>
  </div>
  <div class="row gheNgang">

    <div class="left">
      <div class="item">A</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
      <div class="item">E</div>
      <div class="item">F</div>
    </div>
    <div class="list row">
      <div *ngFor="let ghe of DSGhe; " class="ghe">
        <app-ghe [itemGhe]="ghe" (pushOutGhe)="GetGhe($event)"></app-ghe>
      </div>
    </div>

    <div class="right">
      <div class="item">A</div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
      <div class="item">E</div>
      <div class="item">F</div>
    </div>
  </div>


</div>